$avatar-size: 200px

.profile
  .follow
    position: absolute
    right: 0
    top: 180px
    margin: 0 16px 0 0

  .user-details
    background: white
    padding: 16px

    .avatar
      height: $avatar-size
      width: $avatar-size
      border-radius: 10px


    h1
      float: right
      margin: 0
